<h1>WELCOME ON CITY GARDEN</h1>
<h2>Harvest in The City!</h2>
<p>Do you want to</p>
<ul>
<li><%= link_to "rent your garden", new_garden_path %></li>
<li><%= link_to "list available gardens", gardens_path %></li>
</ul>
